html {
  width: 100% !important;
}

.navbar-brand {
  font-size: 1.7em !important;
}

.nav-links {
  font-size: 1.4em !important;
}
.condiv {
  min-height: 100vh;
  text-align: center;
 
  color: rgb(255, 255, 255);
  padding-bottom: 5em;
  font-size: 18px;
}

.landing h1{
  padding-top: 10em;
}

.landing h2 {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.landing {
   background-color: rgba(10, 10, 10, 0.8) !important;
  background-image: url("./img/person-holding-barbell-841130.jpg");
  background-blend-mode: color;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  
}

.nutrition {
  background-color: rgba(10, 10, 10, 0.8) !important;
  background-image: url("./img/flat-lay-photography-of-three-tray-of-foods-1640775.jpg");
  background-blend-mode: color;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.nutrition p {
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 28px;
  text-align: start;

}


.calculator {
  max-width: 450px;
  background-color: aliceblue;
  border-radius: 20px;
  padding-top: 2em;
  margin: auto;
  margin-top: 3em;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  font-size: 18px;
}

.calculator h2 {
  padding-top: 2em;
}

.tdeeButton {
  margin-top: 20px !important;
}

.activity {
  max-width:  50%;
}

.labels {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}